@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.background{
  background-color:black;
}

.title{
  color: red;
  box-shadow: 5px 4px 13px 7px rgb(142, 142, 246);
  background-color: white;
}

.boxstyle{
  box-shadow: 2px 4px 15px 6px blue;
}

.historyBox{
  box-shadow: 3px 3px 3px 3px rgb(184, 183, 183);
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  /* background-color: lightseagreen; */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  transition: 0.3s;
}

li:hover {
  background: #f0f0f0;
}
